<div id="movies">
	<div class="row">
		<% movies.forEach(function(movie) { %>
			<% if(movie.Poster !== "N/A" && movie.Type !== "game") { %>
				<div class="col s6 m3"> 
					<div class="card tooltipped" data-position="top" data-tooltip="<%=movie.Title%>">
						<div class="card-content">
							<img src="<%=movie.Poster%>" class="responsive-img" alt="<%=movie.Title%>">
							<div class="card-action">
								<form action="/user_movies" method="POST">
									<input type="hidden" name="title" value="<%=movie.Title%>">
									<input type="hidden" name="poster" value="<%=movie.Poster%>">
									<input type="hidden" name="rating" value="10">
									<input type="hidden" name="year" value="<%=movie.Year%>">
									<input type="hidden" name="type" value="<%=movie.Type%>">
									<input type="hidden" name="api_id" value="<%=movie.imdbID%>">
									<input type="submit" class="waves-effect waves-light movie-button" value="Add Movie">
								</form>
								<form action="/movies/<%=movie.imdbID%>" method="GET">
									<input type="submit" class="waves-effect waves-light movie-button" value="Details">
									<input type="hidden" name="api_id" value="<%=movie.imdbID%>">
								</form>
							</div>
						</div>
					</div>
				</div>
			<% } %>
		<% }) %>
	</div>
</div>