<div class="movie-grid">
	<div class="poster-col">
		<img src="<%= movie.Poster %>">
	</div>
	<div class="info-col">
		<h3><%= movie.Title %></h3>
		<p><%= movie.Year %></p>
		<p>Director: <%= movie.Director %></p>
		<p><%= movie.Plot %></p>
		<p><%= movie.Genre %></p>
		<p>Runtime: <%= movie.Runtime %></p>
	</div>
	<div class="misc-col">
		
	</div>
</div>

