<h1><%=user.name%>'s List</h1>

	<% movies.sort(function (a, b) { %>
  	<% return b.rating - a.rating; %>
  	<% }) %>

<table class="highlight">
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Rating</th>
			<th>Type</th>
			<th>Year</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% movies.forEach(function(movie, i) { %>
			<tr>
				<td><img src="<%=movie.poster%>" class="square" style="height: 6em; border-radius: 0.5em"></td>
				<td><a href="/movies/<%=movie.api_id%>"><%=movie.title%></td>
				<td><a href="#modal<%=i%>" class="modal-trigger"><%=movie.rating%></a></td>
				<td><%=movie.type%></td>
				<td><%=movie.year%></td>
				<td><a class="delete" href="/user_movies/<%= movie.id %>">Remove</a></td>
			</tr>
			<div id="modal<%=i%>" class="modal">
    			<div class="modal-content">
      				<h4>Change Rating:</h4>
      				<p>Current Score: <%=movie.rating%></p>
      				<form method="POST" action="/user_movies/<%= movie.id %>" class="updateScore">
						<select class="browser-default" name="rating">
							<option value="0" disabled selected>Choose New Rating</option>
						    <option value="1">1</option>
						    <option value="2">2</option>
						    <option value="3">3</option>
						    <option value="4">4</option>
						    <option value="5">5</option>
						    <option value="6">6</option>
						    <option value="7">7</option>
						    <option value="8">8</option>
						    <option value="9">9</option>
						    <option value="10">10</option>
						</select>
						<input type="hidden" name="id" value="<%=movie.id%>">
						<div class="modal-footer">
      						<button type="submit" class="modal-close waves-effect waves-green btn-flat">Update</button>
    					</div>
      				</form>
    			</div>
			</div>
		<% }) %>	
	</tbody>
</table>