<h1><%=user.name%>'s List</h1>

<table class="highlight">
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Rating</th>
			<th>Type</th>
			<th>Year</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% movies.forEach(function(movie) { %>
			<tr>
				<td><img src="<%=movie.poster%>" class="square" style="height: 6em; border-radius: 0.5em"></td>
				<td><a href="/movies/<%=movie.api_id%>"><%=movie.title%></td>
				<td><%=movie.rating%></td>
				<td><%=movie.type%></td>
				<td><%=movie.year%></td>
				<td><a class="delete" href="/user_movies/<%= movie.id %>">Remove</a></td>
			</tr>
		<% }) %>	
	</tbody>
</table>