<h1><%=user.name%>'s List</h1>
<!-- <div class="collection">
	<% movies.forEach(function(movie) { %>
		<a href="/movies/<%=movie.api_id%>" class="collection-item"><%=movie.title%></a>
	<% }) %>
</div> -->
	
<table class="highlight responsive-table">
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Rating</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% movies.forEach(function(movie) { %>
			<tr>
				<td><img src="<%=movie.poster%>" class="square" style="height: 6em; border-radius: 0.5em"></td>
				<td><a href="/movies/<%=movie.api_id%>"><%=movie.title%></td>
				<td><%=movie.rating%></td>
				<td><a href="#">Delete</a></td>
			</tr>
		<% }) %>	
	</tbody>
</table>