<!-- <h1 class="toggleName"><%=user.name%>'s List</h1> -->

<nav class="sort-nav">
    <div class="nav-wrapper sort-nav-wrapper">
  		<a href="/user_movies" class="brand-logo"><%=user.name%>'s Movie List</a>
    	<ul id="nav-mobile" class="right">
    		<!-- Sort By Score -->
    		<% if (sortBy !== "ScoreDes" || sortBy === 0) { %>
	        <li>
	        	<form method="POST" action="/user_movies/sorted" class="sort-button">
					<input type="hidden" name="sort" value="ScoreDes">
					<button type="submit" class="waves-effect waves-green btn-flat">Rating<i class="material-icons right">arrow_drop_down</i></button>
				</form>
			</li>
			<% } %>
			<% if (sortBy !== "ScoreAsc" && sortBy !== 0 && sortBy !== "AlphDes" && sortBy !== "AlphAsc" && sortBy !== "YearDes" && sortBy !== "YearAsc") { %>
			<li>
	        	<form method="POST" action="/user_movies/sorted" class="sort-button">
					<input type="hidden" name="sort" value="ScoreAsc">
					<button type="submit" class="waves-effect waves-green btn-flat">Rating<i class="material-icons right">arrow_drop_up</i></button>
				</form>
			</li>
			<% } %>
			<!-- Sort By Alphabetized Title -->
			<% if (sortBy !== "AlphAsc" || sortBy === 0) { %>
	        <li>
	        	<form method="POST" action="/user_movies/sorted" class="sort-button">
					<input type="hidden" name="sort" value="AlphAsc">
					<button type="submit" class="waves-effect waves-green btn-flat">Title<i class="material-icons right">arrow_drop_up</i></button>
				</form>
			</li>
			<% } %>
			<% if (sortBy !== "AlphDes" && sortBy !== 0 && sortBy !== "ScoreAsc" && sortBy !== "ScoreDes" && sortBy !== "YearDes" && sortBy !== "YearAsc") { %>
			<li>
				<form method="POST" action="/user_movies/sorted" class="sort-button">
					<input type="hidden" name="sort" value="AlphDes">
					<button type="submit" class="waves-effect waves-green btn-flat">Title<i class="material-icons right">arrow_drop_down</i></button>
				</form>
			</li>
			<% } %>
			<!-- Sort By Year -->
			<% if (sortBy !== "YearDes" || sortBy === 0) { %>
	        <li>
	        	<form method="POST" action="/user_movies/sorted" class="sort-button">
					<input type="hidden" name="sort" value="YearDes">
					<button type="submit" class="waves-effect waves-green btn-flat">Year<i class="material-icons right">arrow_drop_down</i></button>
				</form>
			</li>
			<% } %>
			<% if (sortBy !== "YearAsc" && sortBy !== "AlphDes" && sortBy !== "AlphAsc" && sortBy !== 0 && sortBy !== "ScoreAsc" && sortBy !== "ScoreDes") { %>
			<li>
				<form method="POST" action="/user_movies/sorted" class="sort-button">
					<input type="hidden" name="sort" value="YearAsc">
					<button type="submit" class="waves-effect waves-green btn-flat">Year<i class="material-icons right">arrow_drop_up</i></button>
				</form>
			</li>
			<% } %>
    	</ul>
    </div>
</nav>

<table class="highlight">
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Rating</th>
			<th>Type</th>
			<th>Year</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% movies.forEach(function(movie, i) { %>
			<tr>
				<td><img src="<%=movie.poster%>" class="square" style="height: 6em; border-radius: 0.5em"></td>
				<td><a href="/movies/<%=movie.api_id%>"><%=movie.title%></td>
				<td><a href="#modal<%=i%>" class="modal-trigger"><%=movie.rating%></a></td>
				<td><%=movie.type%></td>
				<td><%=movie.year%></td>
				<td><a class="delete" href="/user_movies/<%= movie.id %>">Remove</a></td>
			</tr>
			<div id="modal<%=i%>" class="modal">
    			<div class="modal-content">
      				<h4>Change Rating:</h4>
      				<p>Current Score: <%=movie.rating%></p>
      				<form method="POST" action="/user_movies/<%= movie.id %>" class="updateScore">
						<select class="browser-default" name="rating">
							<option value="0" disabled selected>Choose New Rating</option>
						    <option value="1">1</option>
						    <option value="2">2</option>
						    <option value="3">3</option>
						    <option value="4">4</option>
						    <option value="5">5</option>
						    <option value="6">6</option>
						    <option value="7">7</option>
						    <option value="8">8</option>
						    <option value="9">9</option>
						    <option value="10">10</option>
						</select>
						<input type="hidden" name="id" value="<%=movie.id%>">
						<div class="modal-footer">
      						<button type="submit" class="modal-close waves-effect waves-green btn-flat">Update</button>
    					</div>
      				</form>
    			</div>
			</div>
		<% }) %>	
	</tbody>
</table>